<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{province.form.title}"></title>
</head>
<body>
<form method="post" th:object="${province}">
    <fieldset>
        <legend th:text="#{province.form.title}"></legend>
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td><label for="province-name" th:text="#{province.form.label.province}">Tỉnh</label></td>
                <td>
                    <input th:field="*{name}" id="province-name"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" th:value="${buttonLabel}">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<a th:href="@{/provinces}" th:text="#{province.form.link.back}"></a>.
</body>
</html>