<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{province.list.title}"></title>
    <style>
        table, tr, td {
            border: black solid 1px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1 th:text="#{province.list.title}"></h1>
<div style="margin-bottom: 10px">
    <a th:href="@{/provinces/create}" th:text="#{province.list.link.new}"></a>
</div>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td th:text="#{province.list.table.column.name}"></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="province : ${provinceList}">
        <td th:text="${province.id}"></td>
        <td>
            <a th:href="@{/provinces/edit/{id}(id=${province.id})}" th:text="${province.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
<p th:text="#{province.list.paragraph.total.province(${provinceList.size()})}"></p>
</body>
</html>