<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{customer.form.title}"></title>
</head>
<body>
<form method="post" th:object="${customer}">
    <fieldset>
        <legend th:text="#{customer.form.fieldset.legend}">Customer Information</legend>
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td><label for="customer-name" th:text="#{customer.form.label.name}">Tên</label></td>
                <td>
                    <input th:field="*{name}" id="customer-name"/>
                </td>
            </tr>
            <tr>
                <td><label for="customer-email">Email</label></td>
                <td>
                    <input th:field="*{email}" id="customer-email"/>
                </td>
            </tr>
            <tr>
                <td><label for="customer-province" th:text="#{customer.form.label.province}">Tỉnh thành</label></td>
                <td>
                    <select th:field="*{province}" id="customer-province">
                        <th:block th:each="province : ${provinceList}">
                            <option th:value="${province.id}" th:text="${province.name}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" th:value="${buttonLabel}">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<a th:href="@{/}" th:text="#{customer.form.link.back}"></a>.
</body>
</html>