<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
    <style>
        table, tr, td {
            border: black solid 1px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Danh sách khách hàng</h1>
<div style="margin-bottom: 10px">
    <a th:href="@{/create}">Tạo mới</a>
</div>
<div style="margin-bottom: 10px">
    <a th:href="@{/provinces}">Danh sách tỉnh</a>
</div>
<form method="GET" action="/search">
    <label for="search">Tìm theo tên</label>
    <input type="text" name="search" id="search">
    <input type="submit" value="Tìm kiếm">
</form>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Tên</td>
        <td>Email</td>
        <td>Địa chỉ</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td>
            <a th:href="@{/customers/{id}(id=${customer.id})}" th:text="${customer.name}"></a>
        </td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.province.name}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/customers(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Trước</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{/customers(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Sau</a>
</div>
<p th:text="${'Có: ' + customers.content.size() + ' khách hàng'}"></p>
</body>
</html>